<!--Input with a Button-->
<div class="input-group">
  <input
    type="text"
    class="input"
    placeholder="Enter The Domain Name Here..."
  />
  <button class="btn btn--accent">Search</button>
</div>
<!--Input with an Icon-->
<div class="input-group">
  <span class="icon-container">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#wordpress"></use>
    </svg>
  </span>
  <input
    type="text"
    class="input"
    placeholder="Enter The Domain Name Here..."
  />
</div>
