<div class="media">
  <div class="media__image">
    <svg class="icon icon--primary">
      <use xlink:href="images/sprite.svg#snap"></use>
    </svg>
  </div>
  <div class="media__body">
    <h3 class="media__title">Easy Start & Managed Updates</h3>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Assumenda veniam
      fugiat earum eligendi dicta facere fuga consequatur explicabo nesciunt
      sunt, incidunt numquam similique dolorem sed! Minus impedit doloribus et.
    </p>
  </div>
</div>
